<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Boats{% endblock %}</title>
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
		<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
		{% block javascripts %}{% endblock %}
    </body>
</html>