{% extends 'base.html.twig' %}

{% block title %}Boat Required Power Calculator{% endblock %}

{% block body %}

<h1>Boat Required Power Calculator</h1>
<div id="errors"></div>
<form id="powerCalculator" method="GET">
	<label>Hull Length</label>
	<input type="number" name="hl" step=any min="1">
	<br/>
	<label>Buttock Angle</label>
	<input type="number" name="ba" min="1">
	<br/>
	<label>Displacement</label>
	<input type="number" name="ds" min="1">
	<br/>
	<input type="submit" value="Calculate">
</form>

<div id="results"></div>
{% endblock %}

{% block javascripts %}
<script>

$("#powerCalculator").submit(function( event )
{
	event.preventDefault();
	$.ajax(
	{
		dataType: "json",
		url: "{{ url('horsePower') }}",
		data: $( this ).serializeArray(),
		success:
			function(results) 
			{
				var msg = "";
				
				if(typeof results.error === 'undefined')
				{
					Object.keys(results.powers)
					.forEach
					(
						function (k)
						{
							msg += "<p>knots " + k + ": " + results.powers[k] + "</p>";
						}
					);
				}
				else
				{
					msg = "<p>Missing or Bad Parameters</p>";
				}
				
				$("#results").html(msg);
			},
		error:
			function()
			{
				$("#results").html('We cannot process the request.');
			}
		}
	);
	
});

</script>
{% endblock %}